a{
  color : black;
  text-decoration: none;
}
h1{
  font-size: 60px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin : 0;
}
ol{
  border-right:1px solid gray;
  width : 80px;
  margin-top:0px;
}
.saw{
  color :gray;
}

h2{
  margin-bottom: 20px;
}
li{
  height: 62px;
}
#active{
  color:red;
  height: 0px;
}
.gap{
  height:0px;
}
